.bg {
  background-image: url(./assets/bg-dark.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
}

.animate-cloud-img {
  animation: bounce 2s ease-in-out 1s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(-4px);
  }

  to {
    transform: translateY(4px);
  }
}

.animate-bg {
  animation: shift-left 4s linear 0s infinite alternate;
}

@keyframes shift-left {
  from {
    transform: translate(0px);
  }
  to {
    transform: translate(-50px, -50px);
  }
}

.fade-in:first-child {
  animation: fade-in 1s ease-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}





